/*
    Color variables
*/


$color-primary: rgb(255, 0, 0);
$dark-bg: rgb(29, 29, 29);
$less-dark-bg: rgb(70, 70, 70);
$light-bg: rgb(242, 242, 242);
$border: rgb(199, 199, 199);
$blueprint: rgb(10, 99, 222);
$blueprint-darker: rgb(33, 114, 226);
$purple: rgb(27, 65, 189);
$purple-lighter: rgb(24, 62, 189);