button.colorMode {
    position: fixed;
    top: 2rem;
    right: 2rem;
    background: none;
    border: none;
    z-index: 20;
    cursor: pointer;
    transition: all .3s;
    animation: fadeInBlurred 1s 4s ease-in forwards;
    z-index: 889;
    & > .moon {
        border-radius: 1rem;
        padding: 1rem;
        font-size: 4.5rem;
        color: #706d6d;
        transition: all .8s cubic-bezier(0.075, 0.82, 0.165, 1);
        &:hover {
            background-color: rgba(white, .3);
            color: rgb(244, 239, 99);
        }
    }
    & > .sun {
        border-radius: 1rem;
        padding: 1rem;
        font-size: 4.5rem;
        color: rgb(255, 187, 0);
        transition: all .8s cubic-bezier(0.075, 0.82, 0.165, 1);
        &:hover {
            background-color: rgba(white, .3);
            color: white;
        }
    }
}

// ========= HEADER =========== // 

.Header {
    position: fixed;
    height: 0;
    display: flex;
    padding: 0;
    z-index: 777;
    width: 100vw;
    
    &__list {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        width: 100%;
        opacity: 0;
        visibility: hidden;
        z-index: -1;
        padding: 5rem;
        
        &.mobile {   
            opacity: 1;
            visibility: visible;
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            z-index: 888;
            background-color: rgba($dark-bg, .96);
            color: white;
            animation: growIn .5s cubic-bezier(0,-0.01,.44,-0.03);
            box-shadow: 0 6px 10px rgba($dark-bg, .5);
        }
    }

    @mixin delayed {
        @for $i from 1 through 20 {
            &:nth-child(#{$i}) {
                animation-delay: #{$i * 200ms};
            }
        }  
    }
    &__link {
        color: inherit;
        text-decoration: none;
        font-size: 7rem;
        font-family: "Poppins Bold";
        margin-top: 1rem;
        margin-left: 2rem;
        color: inherit;
        transition: all .3s;
        opacity: 0;
        visibility: hidden;
        display: none;
        animation: fadeInTop 1s 1s forwards;
        z-index: 999;
        @include delayed;

        &:hover {
            opacity: .5;
        }
        &.mobile {
            display:block;
        }
    }
    &__logo {
        max-width: 4rem;
        margin-top: -1rem;
    }
    &__item {
        display: flex;
        flex-direction: column;
        margin-top: 5rem;             
    }
    &__hamburger {
        position: absolute;
        top: 2rem;
        left: 2rem;
        z-index: 889;
        padding: 1.5rem;
        border-radius: .5rem;
        transition: all .3s;
        cursor: pointer;
        &:hover {
            background-color: rgba(white, .5);
            color: white;
        }
        
        &--line {
            height: 3px;
            border-radius: 20%;
            width: 2rem;
            background-color: white;
            box-shadow: 0 3px 6px rgba(0,0,0,.5);
            opacity: 1;
            transition: all .3s;
            
            &:nth-child(1).rotate {
                transform: rotate(-45deg);
                margin-top: .75rem;
            }
            &:nth-child(2).rotate {
                opacity: 0;
            }
            &:nth-child(3).rotate {
                transform: rotate(45deg);
                margin-top: -1rem;
                margin-bottom: .65rem
            }
            &:not(:first-child) {
                margin-top: .4rem;
            }
        }
    }

    &__backToTop {
        position: fixed;
        bottom: 2rem;
        right: 2rem;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        transform: translateX(0);
        cursor: pointer;
        color: $less-dark-bg;
        text-decoration: none;
        z-index: 0;

        &:hover svg {
            color: $blueprint;
        }
        & > svg {
            transition: all .3s;
            font-size: 4rem;
        }
    }
}
