.SliderBox {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 10rem;
    max-width: 100%;
    width: 100%;
    margin-top: 20rem;

    & > h2 {
        margin-bottom: 3rem;
        z-index: 2;
        @media screen and (max-width: 640px) {
            font-size: 3rem;
        }
    }
    &__box {
        display: flex;
        flex-wrap: wrap;     
        align-items: stretch; 
        width: 100%;
    }
}