.AboutMe {
    width: 100vw;
    position: relative;
    display: flex;
    padding: 20rem;
    &__img {
        width: 30rem;
        height: 60rem; 
        object-fit: cover;  
        object-position: left;
    }
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;

        max-width: 60%;
        @media screen and (max-width: 640px) {
            width: 80%;
        }
        margin: 0 auto;

        & > h2 {
            width: min-content;
            @media screen and (max-width: 640px) {
                font-size: 3rem;
            }
        }
        & > p {
            font-size: 1.8rem;
            margin-bottom: 2rem;

            @media screen and (max-width: 640px) {
                font-size: 1.4rem;
            }
        }
        & > .button {
            width: max-content;
        }
        & > .malt {
            margin-top: 2rem;
            & > img {
                height: 20px;
                margin-left: 1rem;
            }

            display: flex; 
            align-items: center;
            color: salmon;
            text-decoration: none;
            font-size: 1.6rem;
            transition: all .3s;
            &:hover {
                opacity: .5;
            }
        }
    }
}

.opacity-0 {
    opacity: 0;
    visibility: hidden;
}

.fadedIn {
    animation: fadeInBlurred 2s 1s forwards;
}

.showInWithBlur {
    animation: fadeInBlurred 2s forwards;
}

.darker {
    background-color: #F6F6F6;
    transition: all 5s;
}

